{% extends "base.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>お問い合わせ</title>
    <!-- CSS START -->
     <style type="text/css">
      .center {
      text-align:center;
      }
     </style>
    <!-- CSS END -->
</head>


{% block content %}

<body>

      <div class="modal-dialog">
        <div class="modal-content">

              <div class="modal-header">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="center col-12"><br>
                    <h3 id="myModalLabel" >　　　 　お問い合わせ</h3>
                  </div>
              </div>


              <div class="modal-body">
                  <div class="form-group"><label>User name</label>
                      {{form.user}}
                  </div>
                  <div class="form-group"><label>E-Mail</label>
                      {{form.email}}
                  </div>
                  <div class="form-group"><label>Message</label>
                      {{form.message}}
                      {{form.file}}
                  </div>
              </div>

              <div class="modal-footer">
              <div class="container-fluid">
                <div class="row">

                        <div class="center col-4">
            　          </div>
                        <div class="center col-3">
                            <a href=""><button input="submit" class="btn btn-warning">　 送る 　</button>
            　          </div>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div><br><br>
</body>
</html>
{% endblock %}