{% extends "base.html" %}
{% block content %}

  <body>

    <!-- 作業フローの解説 -->
    <div class="article-row-section">
      <div class="article-row-section-inner">

        <h2 class="article-row-section-header">利用の流れ</h2>

        <a href="#">
          <article class="article-row">
            <div class="article-row-img">
              <img src="/Users/kana/Dev/Web Making Site/image/undraw_customer_survey_f9ur.png" alt="picture of a whale eating a donkey" class="promotion1"/>
            </div>
            <div class="article-row-content">
              <h1 class="article-row-content-header">無料で会員登録</h1>

              <p class="article-row-content-description">会員登録に必要な必要な情報を記入します。</p>
              <p class="article-row-content-author">By Yeti</p>
              <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
            </div>
          </article>
        </a>

        <a href="#">
          <article class="article-row">
            <div class="article-row-img">
              <img src="/Users/kana/Dev/Web Making Site/image/undraw_customer_survey_f9ur.png" alt="picture of a whale eating a donkey" class="promotion1"/>
            </div>
            <div class="article-row-content">
              <h1 class="article-row-content-header">マイメニューから発注者・受注者情報の登録</h1>

              <p class="article-row-content-description">仕事を発注・受注する際の基本情報をマイメニューから登録します。</p>
              <p class="article-row-content-author">By Yeti</p>
              <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
            </div>
          </article>
        </a>

        <a href="#">
          <article class="article-row">
            <div class="article-row-img">
              <img src="/Users/kana/Dev/Web Making Site/image/undraw_customer_survey_f9ur.png" alt="picture of a whale eating a donkey" class="promotion1"/>
            </div>
            <div class="article-row-content">
              <h1 class="article-row-content-header">マッチング</h1>

              <p class="article-row-content-description">登録した発注者情報・受注者情報を元に貴方の要望にあった相手をリサーチ。お気に入り登録をしてマイメニューからも再度確認できます。</p>
              <p class="article-row-content-author">By Yeti</p>
              <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
            </div>
          </article>
        </a>

        <a href="#">
          <article class="article-row">
            <div class="article-row-img">
              <img src="/Users/kana/Dev/Web Making Site/image/undraw_customer_survey_f9ur.png" alt="picture of a whale eating a donkey" class="promotion1"/>
            </div>
            <div class="article-row-content">
              <h1 class="article-row-content-header">メッセージ</h1>

              <p class="article-row-content-description">気になった相手にメッセージを送付してお仕事の受注・発注の依頼をします。</p>
              <p class="article-row-content-author">By Yeti</p>
              <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
            </div>
          </article>
        </a>

        <a href="#">
          <article class="article-row">
            <div class="article-row-img">
              <img src="/Users/kana/Dev/Web Making Site/image/undraw_customer_survey_f9ur.png" alt="picture of a whale eating a donkey" class="promotion1"/>
            </div>
            <div class="article-row-content">
              <h1 class="article-row-content-header">仕事の受注・発注の決済</h1>

              <p class="article-row-content-description">仕事を依頼すことになったら、マイメニューから決済の手続きをします。</p>
              <p class="article-row-content-author">By Yeti</p>
              <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
            </div>
          </article>
        </a>

  {% endblock %}





