{% extends "base.html" %}
{% load static %}
{% block css %}

{% endblock %}
{% block js %}

{% endblock %}

{% block content %}

<!------ Include the above in your HEAD tag ---------->


             <div class="jumbotron jumbotron-odi-hero bg-primary">
              <div class="jumbotron-overlay ">
                  <div class="container jumbotron-padding  text-center">
                  　<h1 class="display-4">Webサイト制作・受注を<br>もっと自由に簡単に</h1>
                  </div>
              </div>
             </div>


            <section class="probootstrap-section probootstrap-bg" style="background-image: url(../assets/public/green/img/super-scooper-dog-footer-background.webp);">
                <div class="container text-center">
                  <h1 class="heading probootstrap-animate fadeIn probootstrap-animated" data-animate-effect="fadeIn">What is Weeet?</h1>
                  <p class="sub-heading probootstrap-animate fadeIn probootstrap-animated" data-animate-effect="fadeIn">このサイトの利用方法についてご紹介します。</p>
                </div>
            </section>


              <div class="how-section1">
                            <div class="row">
                                <div class="col-md-6 how-img">
                                    <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
                                </div>
                                <div class="col-md-6">
                                    <h4>基本情報の登録</h4>
                                                <p class="text-muted">マイメニューから発注者情報・受注者情報を登録してプロフィールを完成させよう。</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>条件にあった案件をピックアップ</h4>
                                                <p class="text-muted">利用者が登録した情報から、条件に合う人をピックアップします。</p>
                                </div>
                                <div class="col-md-6 how-img">
                                    <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt=""/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 how-img">
                                     <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt=""/>
                                </div>
                                <div class="col-md-6">
                                    <h4>マイページで案件の管理</h4>
                                                <p class="text-muted">案件をお気に入りに追加するといつでもその情報が確認できます。</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>お仕事の決定</h4>
                                    <p class="text-muted">メッセージ機能で気になる方案件についてのやり取りをしてみよう！仕事の同意が得られたら作業開始です。</p>
                                </div>
                                <div class="col-md-6 how-img">
                                    <img src="https://image.ibb.co/gQ9iE9/Work_Section2_freelance_img4.png" class="rounded-circle img-fluid" alt=""/>
                                </div>
                            </div>
              </div>
{% endblock %}