{% extends "base.html" %}
{% load static %}
{% block css %}

{% endblock %}
{% block js %}

{% endblock %}

{% block content %}

<!------ Include the above in your HEAD tag ---------->


            <div class="jumbotron jumbotron-odi-hero img">
              <div class="jumbotron-overlay ">
                  <div class="container jumbotron-padding  text-center">
                      　<font color=><h1 class="display-4">Webサイト制作・受注を<br>もっと自由に簡単に</h1></font>
                  </div>
              </div>
             </div>


            <section class="probootstrap-section probootstrap-bg">
                <div class="container text-center">
                  <h1 class="section1">What is Weeet?</h1><br>
                  <div>
                    <h5 class="text-muted">Webサイト制作・受注をしたい方々の架け橋になります。</h5>
                  </div>
                  <div>
                    <h5 class="text-muted">このサイトの利用方法についてご紹介します。</h5>
                  </div>

                </div>
            </section>


        <div class="center-block how-section1">
                            <div class="row">
                                <div class="col-md-1 how-img">

                                </div>
                                <div class="col-md-4 how-img">
                                    <img src="/media/img/index_form.png" class="img-rounded img-thumbnail" alt=""/>
                                </div>
                                <div class="col-md-6"><br>
                                    <h4>基本情報の登録</h4><br>
                                                <p class="text-muted">
                                                    会員登録をしてマイメニューから受注者情報・発注者情報を登録してプロフィールを完成させましょう。
                                                </p>
                                                <p class="text-muted">
                                                   受注・発注時に相手に自分のプロフィールが閲覧され、より自分に合った案件を見つける幅を増やしましょう。
                                                </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1 how-img">

                                </div>
                                <div class="col-md-6"><br>
                                    <h4>案件の依頼と検索</h4><br>
                                                <p class="text-muted">
                                                    仕事の依頼をする時は「仕事の依頼」というボタンから案件の依頼が出来ます。
                                                </p>
                                                <p class="text-muted">
                                                   依頼のフォーマットに自身の依頼内容を記入してます。
                                                </p>
                                                <p class="text-muted">
                                                   依頼された仕事は「仕事の検索」に表示されるようになり、仕事の受注がされるようになります。
                                                </p>
                                                <p class="text-muted">
                                                   受注者は「仕事の検索」から案件の検索をしてみましょう。
                                                </p>
                                </div>
                                <div class="col-md-4 how-img">
                                    <img src="/media/img/index_job.png" class="img-rounded img-thumbnail" alt=""/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1 how-img">

                                </div>
                                <div class="col-md-4 how-img">
                                     <img src="/media/img/index_file.png" class="img-rounded img-thumbnail" alt=""/>
                                </div>
                                <div class="col-md-6"><br>
                                    <h4>マイページで案件の管理</h4><br>
                                                <p class="text-muted">
                                                   マイページでそれぞれの案件の管理ができます。
                                                </p>
                                                <p class="text-muted">
                                                   仕事の検索をしたときのお気に入りの案件もこちらで閲覧できます。
                                                </p>
                                                <p class="text-muted">
                                                   案件の進行に沿ってタブの中身も変化していきます。
                                                </p>
                                                <p class="text-muted">
                                                   操作はボタン一つで直感的な操作ができる簡単な操作です。
                                                </p>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-1 how-img">

                                </div>
                                <div class="col-md-6"><br>
                                    <h4>クライアントとのやり取り</h4><br>
                                    <p class="text-muted">
                                                <p class="text-muted">
                                                   案件の詳細についてや相手に聞きたいことがある時は積極的にメッセージを送ってみましょう。
                                                </p>
                                                <p class="text-muted">
                                                   相手と直にやり取りすることでお互いの希望が叶うような案件に出会える確率も上がります。
                                                </p>
                                </div>
                                <div class="col-md-4 how-img">
                                    <img src="/media/img/index_mail.png" class="img-rounded img-thumbnail" alt=""/>
                                </div>
                            </div>

                             <div class="row">
                                <div class="col-md-1 how-img">

                                </div>
                                <div class="col-md-4 how-img">
                                     <img src="/media/img/index_ handshake.png" class="img-rounded img-thumbnail" alt=""/>
                                </div>
                                <div class="col-md-6"><br>
                                    <h4>お仕事の決定</h4><br>
                                                <p class="text-muted">
                                                   メッセージでやり取りをして双方の同意が得られたら「契約」となります。
                                                </p>
                                                <p class="text-muted">
                                                   その後は作業開始となります。
                                                </p>
                                                <p class="text-muted">
                                                    お互いの希望に合う成果物を作るために、要望や疑問は積極的に解消していきましょう。
                                                </p>
                                </div>
                            </div>
        </div>
        <hr>
{% endblock %}