{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/css/menu.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'home/js/menu.js' %}"></script>
{% endblock %}

{% block content %}
<form action="/add_role/"method="POST">
  {% csrf_token %}
  <div class="modal-dialog">
          <div class="modal-content">
              <form class="">

                <div class="modal-header">
                    <div class="center col-12"><br>
                      <h3 id="myModalLabel" >ユーザーの選択　</h3>
                    </div>
                </div>

                <div class="modal-body">
                    <div><br>
                       <p>どちらでユーザ登録をしますか？：<br><br>
                          <select class="form-control" name="role">
                          <option value=1>受注者</option>
                          <option value=2>発注者</option>
                          </select></p><br>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="container-fluid">
                      <div class="row">
                              <div class="center col-12">
                                <button class="promo-section-cta button primary" type="submit">送信</button>
                  　          </div>
                      </div>
                    </div>
                </div>

             </form>
          </div>
        </div><br><br>
  </form>
{% endblock %}

