<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>会員登録</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Web Miking Site</li>
          <li><a href="#">Web診断</a></li>
          <li><a href="#">依頼する</a></li>
          <li><a href="#">受注する</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">マイページ</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <ul class="orbit-container">
        <li class="orbit-slide is-active">
          <img src="https://placehold.it/2000x750">
        </li>
      </ul>
    </div>

    <!-- 会員登録入力フォーム -->
    
    <form action="#" method="post">

      <div class="item">
        <p>氏名：<br>
        <input type="text" name="name"></p>
      </div>

      <div class="item">
        <p>氏名(カナ)：<br>
        <input type="text" name="name"></p>
      </div>  

      <div class="item">
        <p>生年月日：<br>
      </div>
        
      <div class="item"></div>
        <p>性別:</p>
        <input type="radio" name="sex" value="male"><label for="male">男性</label>
        <input type="radio" name="sex" value="female"><label for="female">女性</label>

      <div class="item">
        <p>郵便番号：<br>
        <input type="text" name="username"></p>
      </div>  

        <p>都道府県：<br>
        <input type="text" name="username"></p>  

      <div class="item">
        <p>住所：<br>
        <input type="text" name="username"></p> 
      </div> 

      <div class="item">
        <p>ユーザ名：<br>
        <input type="text" name="username"></p> 
      </div>   

      <div class="item">
        <p>メールアドレス：<br>
        <input type="text" name="mail"></p>
      </div>

      <div class="item">
        <p>パスワード：<br>
        <input type="text" name="password"></p>
      </div>

      <div class="item">
        <p>パスワード(確認)：<br>
        <input type="text" name="password"></p>
      </div>

        <p><input type="submit" value="登録"></p>
    </form>

    

<footer>
  <div class="row expanded callout secondary">

    <div class="small-6 large-3 columns">
      <p class="lead">Web Making Site</p>
      <ul class="menu vertical">
        <li><a href="#">会員登録</a></li>
        <li><a href="#">ログイン</a></li>
        <li><a href="#">Web診断</a></li>
        <li><a href="#">依頼する</a></li>
        <li><a href="#">受注する</a></li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <p class="lead">はじめての方へ</p>
      <ul class="menu vertical">
        <li><a href="#">Web Making Site とは</a></li>
        <li><a href="#">Web診断とは</a></li>
        <li><a href="#">依頼ステップ</a></li>
        <li><a href="#">受注ステップ</a></li>
       
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <p class="lead">サポート</p>
      <ul class="menu vertical">
        <li><a href="#">お問合せ</a></li>
        <li><a href="#">よくある質問</a></li>
      </ul>
    </div>

  </div>
  <div class="row">

    <div class="medium-6 columns">
      <ul class="menu">
        <li><a href="#">Legal</a></li>
        <li><a href="#">Partner</a></li>
        <li><a href="#">Explore</a></li>
      </ul>
    </div>

    <div class="medium-6 columns">
      <ul class="menu float-right">
        <li class="menu-text">Copyright</li>
      </ul>
    </div>
  </div>
</footer>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>



