{% extends "base.html" %}
{% load static %}
{% block css %}
{% endblock %}
{% block js %}

{% endblock %}

{% block content %}
    <!-- End Top Bar -->

    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <ul class="orbit-container">
        <li class="orbit-slide is-active">
          <img src="https://placehold.it/2000x750">
        </li>
      </ul>
    </div>

    <!-- 会員登録入力フォーム -->
    
    <form action="#" method="post">

      <div class="item">
        <p>氏名：<br>
        <input type="text" name="name"></p>
      </div>

      <div class="item">
        <p>氏名(カナ)：<br>
        <input type="text" name="name"></p>
      </div>  

      <div class="item">
        <p>生年月日：<br>
      </div>
        
      <div class="item"></div>
        <p>性別:</p>
        <input type="radio" name="sex" value="male"><label for="male">男性</label>
        <input type="radio" name="sex" value="female"><label for="female">女性</label>

      <div class="item">
        <p>郵便番号：<br>
        <input type="text" name="username"></p>
      </div>  

        <p>都道府県：<br>
        <input type="text" name="username"></p>  

      <div class="item">
        <p>住所：<br>
        <input type="text" name="username"></p> 
      </div> 

      <div class="item">
        <p>ユーザ名：<br>
        <input type="text" name="username"></p> 
      </div>   

      <div class="item">
        <p>メールアドレス：<br>
        <input type="text" name="mail"></p>
      </div>

      <div class="item">
        <p>パスワード：<br>
        <input type="text" name="password"></p>
      </div>

      <div class="item">
        <p>パスワード(確認)：<br>
        <input type="text" name="password"></p>
      </div>

        <p><input type="submit" value="登録"></p>
    </form>

    
{% endblock %}


