<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>会員登録</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Web Miking Site</li>
          <li><a href="#">Web診断</a></li>
          <li><a href="#">依頼する</a></li>
          <li><a href="#">受注する</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">マイページ</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <ul class="orbit-container">
        <li class="orbit-slide is-active">
          <img src="https://placehold.it/2000x750">
        </li>
      </ul>
    </div>

    <!-- 会員登録入力フォーム -->

    <h2>受注可能者検索</h2>

    <form action="#" method="post">

      <div class="item">
        <p>Webサイト制作</p>
        <input type="radio" name="" value="homepage"><label for="homepage">ホームページ作成</label>
        <input type="radio" name="" value="WordPress"><label for="WordPress">WordPress制作・導入</label>
        <input type="radio" name="" value="coding"><label for="coding">HTML・CSSコーディング</label>
      </div>

      <div class="item">
        <p>Webデザイン</p>
        <input type="radio" name="" value="Web_design"><label for="Web_design">Webサイトのデザイン</label>
        <input type="radio" name="" value="mobile_design"><label for="mobile_design">スマホ・モバイルサイトのデザイン</label>
        <input type="radio" name="" value="UI/UX"><label for="UI/UX">UI/UXデザイン</label>
      </div>

      <div class="item">
        <p>その他<br>
        <input type="text" name=""></p>
      </div>

      <div class="item">
        <p>スキル<br>
        <input type="text" name=""></p>
      </div>

      <div class="item">
        <p>資格<br>
        <input type="text" name=""></p>
      </div>

      <div class="item">
        <p>経歴<br>
        <input type="text" name=""></p>
      </div>

      <div class="item">
        <p>実績・ポートフォリオ<br>
        <input type="text" name=""></p>
      </div>

        <p><input type="submit" value="検索"></p>
    </form>



<footer>
  <div class="row expanded callout secondary">

    <div class="small-6 large-3 columns">
      <p class="lead">Web Making Site</p>
      <ul class="menu vertical">
        <li><a href="#">会員登録</a></li>
        <li><a href="#">ログイン</a></li>
        <li><a href="#">Web診断</a></li>
        <li><a href="#">依頼する</a></li>
        <li><a href="#">受注する</a></li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <p class="lead">はじめての方へ</p>
      <ul class="menu vertical">
        <li><a href="#">Web Making Site とは</a></li>
        <li><a href="#">Web診断とは</a></li>
        <li><a href="#">依頼ステップ</a></li>
        <li><a href="#">受注ステップ</a></li>

      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <p class="lead">サポート</p>
      <ul class="menu vertical">
        <li><a href="#">お問合せ</a></li>
        <li><a href="#">よくある質問</a></li>
      </ul>
    </div>

  </div>
  <div class="row">

    <div class="medium-6 columns">
      <ul class="menu">
        <li><a href="#">Legal</a></li>
        <li><a href="#">Partner</a></li>
        <li><a href="#">Explore</a></li>
      </ul>
    </div>

    <div class="medium-6 columns">
      <ul class="menu float-right">
        <li class="menu-text">Copyright</li>
      </ul>
    </div>
  </div>
</footer>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>



