{% extends "base.html" %}
{% block content %}

<div class="modal-dialog">
        <div class="modal-content">
            <form class="">

              <div class="modal-header">
                  <div class="center col-12"><br>
                    <h3 id="myModalLabel" >確認　</h3>
                  </div>
              </div>

              <div class="modal-body">
                  <div><br>
                     <p>
                        確認メールに記載されているリンクをクリックすると、アドレスが変更されます。
                    </p>
                  </div>
              </div>

              <div class="modal-footer">
                  <div class="container-fluid">
                    <div class="row">
                            <div class="center col-5">

                　          </div>
                    </div>
                  </div>
              </div>

           </form>
        </div>
      </div><br><br>
{% endblock %}