{% extends "base.html" %}
{% block content %}

<div class="modal-dialog">
        <div class="modal-content">
            <form class="">

              <div class="modal-header">
                  <div class="center col-12"><br>
                    <h3 id="myModalLabel" >確認　</h3>
                  </div>
              </div>

              <div class="modal-body">
                  <div>
                    <p>
                        パスワードを変更しました。<br>
                    </p>
                   </div>
              </div>

              <div class="modal-footer">
                  <div class="container-fluid">
                    <div class="row">
                            <div class="center col-5">
                                <a class="btn btn-primary btn-lg" href="{% url 'register:login' %}">ログイン</a>
                　          </div>
                    </div>
                  </div>
              </div>

           </form>
        </form>
      </div><br><br>
{% endblock %}