{% extends "base.html" %}
{% block content %}
<body>

      <div class="modal-dialog">
        <div class="modal-content">

            <form method="POST" enctype="multipart/form-data">
              <div class="modal-header">

                  {% csrf_token %}
                  <div class="center col-12"><br>
                    <h3 id="myModalLabel" >会員登録</h3>
                  </div>　
              </div>

              <div class="modal-body">
                  <form action="" method="POST">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    {% csrf_token %}
                    <div class="modal-footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="center col-5">
                        　      </div>
                                <button type="submit" class="btn btn-primary btn-lg">送信</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
              </div>
              </div><br><br>
{% endblock %}

