<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>受注者情報</title>
    <!-- CSS START -->
     <style type="text/css">
      .center {
      text-align: center;
      }
     </style>
    <!-- CSS END -->
</head>
<body>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a href=""><button type="button" class="close">×</button></a>
            <div class="center"><h3 id="myModalLabel">受注者情報</h3></div>
          </div>
          <div class="modal-body">

              <div class="form-group">
              <label>スキル</label>
                <textarea class="form-control" placeholder="Your message here.." data-placement="top" data-trigger="manual">
                </textarea>
              </div>

              <div class="form-group">
              <label>資格</label>
                <textarea class="form-control" placeholder="Your message here.." data-placement="top" data-trigger="manual">
                </textarea>
              </div>

              <div class="form-group">
              <label>経歴</label>
                <textarea class="form-control" placeholder="Your message here.." data-placement="top" data-trigger="manual">
                </textarea>
              </div>

              <div class="form-group">
              <label>実績・ポートフォリオ</label>
                <textarea class="form-control" placeholder="Your message here.." data-placement="top" data-trigger="manual">
                </textarea>
              </div>

              <div class="form-group">
              <label>コメント</label>
                <textarea class="form-control" placeholder="Your message here.." data-placement="top" data-trigger="manual">
                </textarea>
              </div>

              <div class="modal-footer">
                <div class="text-center">
                <a href=""><a class="btn btn-warning">　 登録 　</a>
                <a href=""><a class="btn btn-default">　 戻る 　</a>
　           </div></hr><br>

          </div>
        </div>
      </div>
    </div>
</body>
</html>
