<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<head>
  <title>マイメニュー</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
      .center {
      text-align: center;
      }
  </style>
</head>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{user.get_full_name}}</h1></div>
    </div>

    <div class="row">
  		<div class="col-sm-3"><!--left col-->

          <div class="text-center">
              {% if profile.picture %}
            <img src="{{profile.picture.url}}" class="avatar img-circle img-thumbnail" alt="Image">
              {% else %}
              <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="Image">

              {% endif %}
              <a href="{% url 'my_page:profile' %}"><h6>プロフィール画像の編集</h6></a><br>

          </div></hr><br>


          <div class="panel panel-default">
            <div class="panel-heading center">ユーザ情報</div>
              {% if user.user_role.id == 1 %}
            <div class="panel-body center"><a href="{% url 'my_page:contractor_info' %}">登録情報変更</a></div>
              {% else %}
            <div class="panel-body center"><a href="{% url 'my_page:orderer_info' %}">登録情報変更</a></div>
              {% endif %}
          </div>

          <div class="panel panel-default">
            <div class="panel-heading center">仕事管理</div>
              {% if user.user_role.id == 1 %}
              <div class="panel-body center"><a href="{% url 'home:research_result' %}">仕事を探す</a></div>
              {% else %}
            <div class="panel-body center"><a href="{% url 'home:order_job' %}">仕事の依頼</a></div>
              {% endif %}

          </div>

        </div><!--/col-3-->
<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">依頼一覧</a>　　</li>
                <li><a data-toggle="tab" href="#pay">承諾依頼一覧</a>　　</li>
                <li><a data-toggle="tab" href="#fin">完了・キャンセル一覧</a>　　</li>
              </ul>


            <div class="tab-content">
                 <div class="tab-pane active" id="home">
                     <hr>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-12 ">
                                  <div class="panel-body">
                                    <table class="table table-hover table-bordered table-list">
                                      <thead>
                                        <tr>
                                            <th class="center active">タイトル</th>
                                            <th class="center active">応募者</th>
                                            <th class="center active">詳細</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for my_order in my_orders%}
                                      {% for maker in my_order.makers.all %}
                                              <tr>

                                                <td class="col-md-2 center">{{my_order.title}}</td>
                                                <td class="col-md-3 center">{{maker.get_full_name}}</td>
                                                <td class="col-md-2 center">
                                                  <a href="{% url 'my_page:message_detail' maker.id %}"class="btn btn-default center">メッセージ</a>
                                                  <a href="{% url 'my_page:order_decide' my_order.id maker.id %}" class="btn btn-warning center" >依頼者決定</em></a>
                                                </td>
                                              </tr>
                                      {% endfor %}
                                      {% endfor %}
                                      </tbody>
                                    </table>

                                  </div>

                            </div>
                        </div>
                    </div>
                 </div><!--/tab-pane-->

                <div class="tab-pane" id="pay">
                     <hr>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-11 ">
                                  <div class="panel-body">
                                    <table class="table table-hover table-bordered table-list">
                                      <thead>
                                        <tr>
                                            <th class="center active">タイトル</th>
                                            <th class="center active">作成者</th>
                                            <th class="center active">詳細</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for order in my_decided_orders %}

                                              <tr>
                                                <td class="col-md-2 center">{{order.title}}</td>
                                                <td class="col-md-4 center">{{order.maker_decided}}</td>
                                                <td class="col-md-2 center">

                                                  <a href="{% url 'my_page:message_detail' order.maker_decided.id %}"class="btn btn-default center">メッセージ</a>

                                                    {% if order.status.id == 2 %}
                                                    <a href="{% url 'my_page:pay' order.id%}" class="btn btn-warning center" >支払</em></a>
                                                    {% else %}
                                                    <a href="{% url 'my_page:cancel' order.id %}" class="btn btn-warning center" >キャンセル</em></a>
                                                    {% endif %}

                                                </td>
                                              </tr>
                                      {% endfor %}
                                      </tbody>
                                    </table>

                                  </div>

                            </div>
                        </div>
                    </div>
                 </div><!--/tab-pane-->

                <div class="tab-pane" id="fin">
                     <hr>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-11 ">
                                  <div class="panel-body">
                                    <table class="table table-hover table-bordered table-list">
                                      <thead>
                                        <tr>
                                            <th class="center active">タイトル</th>
                                            <th class="center active">作成者</th>
                                            <th class="center active">詳細</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for order in my_fin_orders%}
                                              <tr>
                                                <td class="col-md-2 center">{{order.title}}</td>
                                                <td class="col-md-4 center">{{order.order_post_at|date:"SHORT_DATE_FORMAT"}}</td>
                                                <td class="col-md-2 center">

                                                  <a href="{% url 'my_page:message_detail' order.maker_decided.id %}"class="btn btn-default center">メッセージ</a>

                                                    {% if order.status.id == 4 %}
                                                    <p class="btn btn-success center" >完了</p>
                                                    {% elif order.status.id == 5 %}
                                                    <p class="btn btn-secondary center" >キャンセル</p>
                                                    {% elif order.status.id == 6 %}
                                                    <a href="{% url 'my_page:order_fin' order.id %}"class="btn btn-info center" >検収完了</a>
                                                    {% endif %}
                                                </td>
                                              </tr>
                                      {% endfor %}
                                      </tbody>
                                    </table>

                                  </div>

                            </div>
                        </div>
                    </div>
                 </div><!--/tab-pane-->
                </div>
          　</div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->





