<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>マイメニュー</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
  <style type="text/css">
      .center {
      text-align: center;
      }
  </style>
</head>


<div class="container">
    <div class="row">

    <p></p>
    <h1>取引一覧</h1>
        <div class="tab-content">
                 <div class="tab-pane active" id="home">
                     <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-12 ">
                                  <div class="panel-body">
                                    <table class="table table-hover table-bordered table-list">
                                      <thead>
                                        <tr>
                                            <th class="center active">契約日</th>
                                            <th class="center active">プロフィール</th>
                                            <th class="center active">ユーザー名</th>
                                            <th class="center active">仕事タイトル</th>
                                            <th class="center active">詳細</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                              <tr>
                                                <td class="col-md-1 center">2020/xx/xx</td>
                                                <td class="col-md-1 center">画像</td>
                                                <td class="col-md-1 center">xxxx</td>
                                                <td class="col-md-3 center">「Web作成依頼」</td>
                                                <td class="col-md-3 center">
                                                  <a class="btn btn-primary"> 　完了 　</a>
                                                  <a class="btn btn-default">　支払い　</a>
                                                  <a class="btn btn-warning">キャンセル</a>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="col-md-1 center">2020/xx/xx</td>
                                                <td class="col-md-1 center">画像</td>
                                                <td class="col-md-1 center">xxxx</td>
                                                <td class="col-md-3 center">「Web作成依頼」</td>
                                                <td class="col-md-3 center">
                                                  <a class="btn btn-primary"> 　完了 　</a>
                                                  <a class="btn btn-default">　支払い　</a>
                                                  <a class="btn btn-warning">キャンセル</a>
                                                </td>
                                              </tr>
                                      </tbody>
                                    </table>

                                  </div>

                            </div>

                    </div></div></div>
              	  </form>
                 </div>
            </div><!--/tab-pane-->



